body {
    padding: 20px;
    background-color: #D4F2DB;
}

p {
    font-size: 20px;
}

.caption-text {
    background: rgb(218, 223, 234, .4);
    
}

.active {
    object-fit: fill;
    width: 600px;
}